* {
    font-family: Arial;
    background-color: #2E083D;
    color: white;
    /* border: 1px solid green; */
}

body {
    margin: 0;
}

nav {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5%;
}

nav button {
    background-color: transparent;
    border-color: transparent;
}

.content {
    display: block;
    max-width: 1620px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 3rem;
}

.content img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 6px;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.now-playing { 
    display: flex;
    align-items: flex-start;
    gap: 2%;
}

.portrait-pic {
    aspect-ratio: 3 / 4;
}

.portrait-img {
    width: auto;
    height: auto;
    display: block;
}

.landscape-pics {
    display: flex;
    flex-direction: column;
    gap: 4%;
    aspect-ratio: 4 / 3;
}

.landscape-pics img {
    width: auto;
    height: auto;
    display: block;
}

.tomorrows-schedule {
    margin-top: 1.5rem;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 3rem;
}

.tomorrows-schedule img:not(:last-child) {
    padding-right: 2rem;
}

.tomorrows-schedule::-webkit-scrollbar {
    height: 8px;
}

.tomorrows-schedule::-webkit-scrollbar-thumb, .tomorrows-schedule::-webkit-scrollbar-track {
    border-radius: 16px;
}

.tomorrows-schedule::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #FF5C00, #CB2DF7)
}

.tomorrows-schedule::-webkit-scrollbar-track {
    background: #000;
}

footer {
    display: flex;
    justify-content: center;
    margin: 0 auto 3rem;
    font-size: 13px;
}

@media (max-width: 580px) {
    .now-playing {
        display: block;
    }

    .now-playing img {
        padding: 0.5rem 0;
    }
}